@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Rubik:wght@300;400&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
body{
    background-color: rgb(247, 242, 242);
    font-family: 'Rubik', sans-serif;
}
p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

/* ==== Left side ==== */
.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 16px;
}
.subtitle{
    font-size: 24px;
}
.btn_go{
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.438);
}
.btn_go:hover{
    background-color: rgba(128, 128, 128, 0.6);
    color: black;
}
.img_content{
    width: 100%;
}